img {
  width: 100%;
  overflow: hidden;
  object-fit: cover;
}

.navbar-brand img{
  width: auto;
  height: 60px !important;
}

.nav-link {
  margin-right: 30px;
}

.navbar-nav, .nav-link{
  color:  rgba(0, 0, 0, 0.85);
  font-size: 1.1em;
  font-weight: 500;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}

.navbar-light .navbar-nav .active>.nav-link  {
  color: #0000007e;
}

.navbar-light .navbar-nav .active>.nav-link:hover  {
  color: grey;
}

.navbar-light .navbar-nav .nav-link:hover  {
  color: white;
}

nav li:first-child{
  margin-left: 30px;
}

.bg-light {
  background-color: #81c583 !important;
}

.logo {
  justify-content: center;
  margin-top: 10px;
  width: 25%;
  margin-bottom: 10px;
  margin: auto;
}

footer {
  background-color: #F6F6F6;
  border-top: 5px solid #000000;
  /*border-right: 5px solid #000000;
  border-left: 5px solid #000000;*/
  text-align: center;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  margin-top: 50px;
}

h3 {
  font-size: 24pt;
}

#menu {
  list-style-type: none;
}

a {
  display: block;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 8px 10px;
  text-decoration: none;
  /*font-size: 12pt;*/
  margin-right: 40px;
}

li a:hover {
  background-color: #000000;
}

h1 {
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  text-align: center;
}

.title {
  text-align: center;
  padding: 10px;
  border: 5px solid #000000;
  margin: 20px 10px;
}

.words {
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  background-color: #F6F6F6;
  border: 5px solid #000000;
  text-align: center;
}

p {
  margin: 10px;
}

.words-2 {
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  background-color: #F6F6F6;
  border: 5px solid #000000;
  text-align: center;
  margin-right: 20px;
}
.words-3 {
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  background-color: #F6F6F6;
  border: 5px solid #000000;
  text-align: center;
  margin: 0px 20px;
}

.container {
  display: flex;
  justify-content: center;
}

.contact {
  border: 5px solid #000000;
  background-color: #59a43e;
  text-align: center;
}

.description {
  display: flex;
  flex-wrap: wrap;
  /*margin-top: 0px;*/
  /*justify-content: center;*/
}

.flex-item-sm{
  width: 40%;
}

.flex-item-bg {
  width: 58%;
}

nav {
  border-bottom:solid;
}


@media only screen and (max-width: 990px) {
  li a {
    margin-right:0;
  }
  .flex-item-sm{
    width: 100%;
  }
  
  .flex-item-bg {
    width: 100%;
  }

  .flex-item {
    margin: 20px;
  }

  .container img {
    margin: 20px;
  }
  .words, .words-2, .words-3, .contact, .part-two, .footer, .nav-link, .part-one{
    font-size: 2.5em;
  }
  .navbar-brand img{
    height: 140px !important;
  }
  .navbar-toggler-icon{
    height:80px;
    width:80px;
  }
  nav li:first-child{
    margin-left: 0;
    margin-top: 20px;
    border-top:solid;
  }
  .part-one h3 {
    font-size: 1.5em;
  }
  h2 {
    font-size:1.5em;
  }
  #menu {
    padding-left:0;
  }
}

@media only screen and (min-width: 991px) {
  .title {
    margin-left: 250px;
    margin-right: 250px;
  }
  .mo {
    display: flex;
    flex: wrap;
    margin: 30px;
  }
  p {
    font-size: 17pt;
  }
  ul {
    font-size: 18pt;
  }
  .words {
    margin-left: 20px;
  }
  .words-2 {
    font-size: 17pt;
  }
  .words-3 {
    margin: 20px;
    margin-bottom: 50px;
  }
  .contact {
    margin-top: 20px;
    margin-right: 300px;
    margin-left: 300px;
    margin-bottom: 50px;
  }

  .description {
    margin:30px;
  }
}