img {
  width: 100%;
}

.nav-link {
  margin-right: 30px;
}

.navbar-brand img{
  width: auto;
  height: 60px !important;
}

.navbar-nav, .nav-link{
  color:  rgba(0, 0, 0, 0.85);
  font-size: 1.1em;
  font-weight: 500;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}

.navbar-light .navbar-nav .active>.nav-link  {
  color: #0000007e;
}

.navbar-light .navbar-nav .active>.nav-link:hover  {
  color: grey;
}

.navbar-light .navbar-nav .nav-link:hover  {
  color: white;
}

nav li:first-child{
  margin-left: 30px;
}

.bg-light {
  background-color: #81c583 !important;
}

.logo {
  justify-content: center;
  margin-top: 10px;
  width: 25%;
  margin-bottom: 10px;
  margin: auto;
}

footer {
  background-color: #F6F6F6;
  border-top: 5px solid #000000;
  border-right: 5px solid #000000;
  border-left: 5px solid #000000;
  text-align: center;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  margin-top: 50px;
}

h3 {
  font-size: 24pt;
}

#menu {
  list-style-type: none;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 8px 10px;
  text-decoration: none;
  font-size: 12pt;
  margin-right: 40px;
}

li a:hover {
  background-color: #000000;
}

h1 {
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  text-align: center;
}

.title {
  text-align: center;
  padding: 10px;
  border: 5px solid #000000;
  margin-top: 20px;
  margin-bottom:20px;
}

.description {
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  background-color: #F6F6F6;
  border: 5px solid #000000;
  text-align: center;
  margin: 20px;
}
p {
  margin: 10px;
}

.box{
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.services-grid {
  display: grid;
  grid-template: auto auto auto auto auto / 1fr 1fr 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  margin-right: 20px;
  margin-left: 20px;
}


@media screen and (max-width: 990px) {
  h6{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: white;
    text-transform: uppercase;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  li a {
    margin-right:0;
  }

  nav li:first-child {
    margin-left:0;
  }
}

@media only screen and (min-width: 991px) {
  p {
    font-size: 18pt;
  }
  .title {
    margin-left: 250px;
    margin-right: 250px;
  }
  h6{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: white;
    text-transform: uppercase;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 2rem;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
